<!DOCTYPE html>
<html>
<head>
  <title>ProgramacionACortoPlazo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<% if ENV["RAILS_ENV"] == "development" %>
	<%= debug(params) %>

<% end %>

</body>
</html>
